<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{/coin_registeration}" th:object="${Coin}" method="post">

<label>coin name:</label>
 <input type="text" name="coinname"><br><br>
period : <input type="text" name="period"><br><br>
Weight : <input type="text" name="weight"><br><br>
price: <input type="text" name="price"><br><br>
Description <input type="text" name="description"><br><br>

<input type="submit" value="RegisterCoin"><br><br>
</form>
</body>
</html>